@using EntityLayer.Concrete
@model List<Category>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>GetCategoryCountList</h2>


<div class="card text-white bg-success mb-3" style="max-width: 18rem;">
    <div class="card-header">Toplam Kategori Sayısı</div>
    <div class="card-body">
        <h5 class="card-title">Toplam Kategori</h5>
        <p class="card-text">@ViewBag.TotalCategoryCount</p>
    </div>
</div>
<div class="card text-white bg-success mb-3" style="max-width: 18rem;">
    <div class="card-header">Toplam Kategori Sayısı</div>
    <div class="card-body">
        <h5 class="card-title">Toplam Kategori</h5>
        <p class="card-text">@ViewBag.headeristatistik</p>
    </div>
</div>
<div class="card text-white bg-success mb-3" style="max-width: 18rem;">
    <div class="card-header">Toplam Kategori Sayısı</div>
    <div class="card-body">
        <h5 class="card-title">Toplam Kategori</h5>
        <p class="card-text">@ViewBag.writeristatistik</p>
    </div>
</div>
<div class="card text-white bg-success mb-3" style="max-width: 18rem;">
    <div class="card-header">Toplam Kategori Sayısı</div>
    <div class="card-body">
        <h5 class="card-title">Toplam Kategori</h5>
        <p class="card-text">@ViewBag.maxcategortyistatistik</p>
    </div>
</div>
<div class="card text-white bg-success mb-3" style="max-width: 18rem;">
    <div class="card-header">Toplam Kategori Sayısı</div>
    <div class="card-body">
        <h5 class="card-title">Toplam Kategori</h5>
        <p class="card-text">@ViewBag.resultistatistik</p>
    </div>
</div>


